<link rel="stylesheet" type="text/css" href="styles.css" />

<body>
<header>
    <h1>Better You </h1>
    <h4>Habit Tracker</h4>
    <h3>The Ultimate habit tracker to change your life </h3>
</header>

<div class="container"> 
    <div class="signup-container">
        <h3>Lets start your journey today</h3>
        <form name="new" action="/new" method="GET">
            <!-- username: <input name="username" id="username"/> <br />   
            password: <input type="password" name="password" id="password"/> <br /> -->
            <br />
            <input type="submit" value="SIGN UP TODAY" class="btn btn-primary btn-lg" action="/new"></input>

         </form>
    </div>


    <div class="inspo">
        <img src="/Users/jeremyhernandez/Desktop/GeneralAssembly/projects/project2-habits/public/running.jpg" alt="running">
    </div>
</div>







</body>

