@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');


header {
  padding: 20px;
  background-image: linear-gradient(teal, black);
  color: White;
  text-align: center;
  font-family: 'Barlow', sans-serif; 
  border-bottom: 5px solid black;
  margin: 0 0 20px;
}

body {
  background-color: rgb(226, 226, 226); 
  font-family: 'Barlow', sans-serif; 
  
}
.display-container {
  text-align: center;
}

.motive {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: larger;
  color: red;
}


.signup-container {
  position: absolute;
  width: 30%;
  height: 32%;
  font-size: 18px;
  margin-top:30px;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}


.time-container {
  position: absolute;
  left: 2%;
  font-size: 28px;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  color: black;
}


.btn-primary {
  display: inline-block;
  background-color: red;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin: 10px 0 10px 0 

}




.new-habits {
  padding: 100px;
  text-align: center;
  font-style: bolder;

}

.hour-btn { 
  border-radius: 10px;
  border: 2px solid black;
  margin: 10px;
  padding: 5px 5px ;
 
}

.hours, .days {
  display:none;
  visibility: hidden;
}

.form {
  position: absolute;
  left: 25%;
  font-size: 18px;
  border: 2px solid black;
  width: auto;
  height: auto;
  text-align: center;
}

.days-btn {
  margin: 0 10px;
  
}

.title {
  margin: 10px;
}




.habitsDiplay {
  position:absolute;
  left: 2%;
  top: 20%;
  border: 2px solid black;
  font-size: 24px;
  padding: 10px;
  color: blue;
  height: auto;
  width: 50%;
  margin-top: 20px;
}

.habit-btn {
  position: absolute;
  left: 90%;
  border: 2px solid black;
  height: auto;
  width: auto;
  padding: 5px;
  
}

.edit-btn {
  
  
  
  
  border: 2px solid black;
  
  padding: 5px;
}

.carousel {
  position: absolute;
  margin-top: 30px;
  left: 40%;
  width: 50%;
  height: 70%;

}

.add {
  position: absolute;
  text-align: center;
  margin-top: 30px;
  top: 10%;
  right: 15%;
  border: 2px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 56px;
  
  background-color: green;
}

.delete{
  position: absolute;
  text-align: center;
  margin-top: 30px;
  top: 25%;
  right: 15%;
  border: 2px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 56px;
  background-color: red;
}

.addtext {
  position: absolute;
  text-align: center;
  margin-top: 30px;
  top: 12%;
  right: 26%;
}

.deleteText {
  position: absolute;
  text-align: center;
  margin-top: 30px;
  top: 27%;
  right: 25%;
}

.editButton {
  font-size: 10px;
}

